# Python Virtual Environment
.venv/
venv/
ENV/

# PyCharm IDE Metadata
.idea/

# Python Cache
**/__pycache__/
*.pyc

# Local Environment Variables / Temporary scripts
.env.py
.env

# Local Databases and Instance files
instance/
*.db
